.sidebar-movies-container {
  display: flex;
}

.top-rated-container {
  background-color: #252121;
  /* background-image: url('https://res.cloudinary.com/dkwwcq9yc/image/upload/v1707056628/abstract-multi-colored-illustration-nature-vibrant-beauty-generated-by-ai_qokvht.jpg');
  background-size: contain; */
  height: 100vh;
  width: 100%;
  overflow: auto;
  padding-top: 36px;
}

@media screen and (min-width: 768px) {
  .top-rated-container {
    padding-top: 96px;
  }
}

.top-rated-movie-container {
  display: flex;
  justify-content: center;
}

.top-rated-movie-list {
  padding-left: 0;
  width: 90%;
  max-width: 1140px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 64px;
}